In [6]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [7]:
import pandas as pd
print(pd.__version__)

1.3.4

In [10]:
#creating one dimensional array
df=pd.Series([10,20,30,40,50,60,70])
print(df.ndim)
print(df.shape)
print(df)

1
(7,)
0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [20]:
import numpy as np
df1=np.array([[10,20,30,40,50,60],[15,24.7,38,47,76,98]])
df1

array([[10. , 20. , 30. , 40. , 50. , 60. ],
       [15. , 24.7, 38. , 47. , 76. , 98. ]])

In [18]:
df1=np.array([10,20,30,40])
df1

array([10, 20, 30, 40])

In [23]:
da=pd.Series([70,80.5,65,87],index=['ram','rohan','geetha','ramaya'],name='science marks')
da

ram       70.0
rohan     80.5
geetha    65.0
ramaya    87.0
Name: science marks, dtype: float64

In [24]:
print(da.min())
print(da.max())
print(da.median())
print(da.mode())

65.0
87.0
75.25
0    65.0
1    70.0
2    80.5
3    87.0
dtype: float64

In [39]:
age=[20,21,22,23,24,25,26,27,28,29,30]

fd=pd.DataFrame(age,columns=['Age'],index=['ram','rohan','raghu','lalith','somu','chaithra','kavya','shalini','shamala','swapana','sam'])
print(fd)

          Age
ram        20
rohan      21
raghu      22
lalith     23
somu       24
chaithra   25
kavya      26
shalini    27
shamala    28
swapana    29
sam        30

In [29]:
age=[20,21,22,23,24]
df=pd.DataFrame(age,columns=['Age'],index=['ram','rohan','raghu','lalith','somu'])
print(df)

        Age
ram      20
rohan    21
raghu    22
lalith   23
somu     24

In [43]:
#creating data frame with multiple dimentional array
a=[['Sam',1111,20,75,'male','bangalore'],['chaithu',1122,21,75,'male','bangalore'],['shalini',1133,25,75,'male','bangalore']]
ds=pd.DataFrame(a,columns=['Student_name','Student_id','Age','Weight','Gender','Location'],index=[1000,2000,3000])
ds

     Student_name  Student_id  Age  Weight Gender   Location
1000          Sam        1111   20      75   male  bangalore
2000      chaithu        1122   21      75   male  bangalore
3000      shalini        1133   25      75   male  bangalore

In [46]:
fruits=['apple','grapes','orange','banana','papaya','kiwi']
old_price=[100,50,60,30,30,80]
new_price=[180,70,49,45,67,70]
new_price1=[120,70,50,40,67,80]
da=pd.DataFrame({'Items_name':fruits,'2020_price':old_price,'2021_price':new_price,'2022_price':new_price1})
da

ValueError: No engine for filetype: 'excel'

In [58]:
da.to_csv('fruits.csv')
da.to_html('fruits.html')
da.to_records('fruits.xlsx')
print('files saved in your memory')

files saved in your memory

In [59]:
files=open('fruits.xlsx')
print("The content file is ")
print(files.read())
files.close()

f=open('fruits.csv')
print("the content of the file is")
print(f.read())
f.close()

fa=open('fruits.xlsx')
print("the content of the file is")
print(fa.read())
fa.close()

The content file is

UnicodeDecodeError: 'charmap' codec can't decode byte 0x90 in position 22: character maps to <undefined>